---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="row">
                    <img src="{{ site.logo }}" onerror="this.onerror=null; this.src='{{ site.logo_fallback }}'">
                    <h3 class="title">
                        <a class="btn zoombtn" href="{{ site.url }}/szolgaltatasaink">
                        <b>Szolgáltatásaink</b>
                        </a>
                        <a class="btn zoombtn" href="{{ site.url }}/munkatarsaink">
                        <b>Munkatársaink</b>
                        </a>
                        <a class="btn zoombtn" href="{{ site.url }}/kapcsolat">
                        <b>Kapcsolat</b>
                        </a>
                    </h3>
            </div>
            {{ content }}
        </div>

    </header>
    {% include scripts.html %}
</body>
</html>
